node_modules
.git
.gitignore
*.md
build
storybook-static
coverage
test-results
playwright-report
blob-report
playwright/.cache
storybook-static
.storybook
.vscode
tests
playwright.config.ts
vitest.config.ts
db/
docker-compose.yaml
